In [1]:
# Import dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time

### Scraping

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Define URL 

url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [4]:
html = browser.html
soup = bs(html,"html.parser")

In [5]:
article_heading_list = []

for article_heading in soup.find_all('div',class_="content_title"):
    
    try:        
        article_heading_list.append(article_heading.find('a').text)
    except:
        pass
        
news_title = article_heading_list[0]

news_title

"Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter"

In [6]:
article_paragraph_list = []

for article_para in soup.find_all('div',class_="article_teaser_body"):
    
    try:        
        article_paragraph_list.append(article_para.text)
    except:
        pass
        
news_p = article_paragraph_list[0]
browser.quit()
news_p

'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'

### JPL Mars Space Images - Featured Image

In [7]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
time.sleep(1)

In [9]:
html = browser.html
soup = bs(html, "html.parser")

In [10]:
image_list = []
results = soup.find_all("div", class_ = "img")
for image in results:
    image_list.append(image.img["src"])

In [11]:
feature_image = image_list[0]

#feature image url 
feature_image_url = "https://www.jpl.nasa.gov" + feature_image

# print feature image url 
print("Feature Image URL:", feature_image_url)

browser.quit()
feature_image_url

Feature Image URL: https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23858-640x350.jpg

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23858-640x350.jpg'

### Mars Weather

In [12]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
time.sleep(1)

In [14]:
xpath = "/html/body/div/div/div/div[2]/main/div/div/div/div/div/div/div/div/div[2]/section/div/div/div[1]/div/div/div/article/div/div[2]/div[2]/div[2]/div[1]/div/span"

if browser.is_element_present_by_xpath(xpath, wait_time = 5):
    title = browser.find_by_xpath(xpath).text

browser.quit()
print(title)

Lovely view of Gale Crater right in the middle of this.

### Mars Facts

In [15]:
import pandas as pd

url = "https://space-facts.com/mars/"

tables = pd.read_html(url)

df = tables[0]

df.columns = df.columns.astype(str)

df = df.rename(columns = {"0": "Parameters", "1": "Values"})

df

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# Dataframe as HTML

html_table = df.to_html()

html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [17]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
time.sleep(1)

In [19]:
html = browser.html
soup = bs(html, "html.parser")

In [20]:
base_url = "https://astrogeology.usgs.gov"

titles = []
img_hrefs = []
results_title = soup.find_all("div", class_ = "description")
for result in results_title:
    titles.append(result.h3.text)
    full_href = base_url + result.a["href"]
    img_hrefs.append(full_href)
    
titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [21]:
full_resolution_img = []

for i in range(len(img_hrefs)):
    url = img_hrefs[i]
    browser.visit(url)
    html = browser.html
    soup = bs(html, "html.parser")
    result = soup.find("img", class_ = "wide-image")["src"]
    full_resolution = base_url + result
    full_resolution_img.append(full_resolution)
    
full_resolution_img

['https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg']

In [22]:
hemisphere_image_urls = []
hemisphere_image_urls_dict = {}

for i in range(4):
    hemisphere_image_urls_dict["title"] = titles[i]
    hemisphere_image_urls_dict["img_url"] = full_resolution_img[i]
    hemisphere_image_urls.append(hemisphere_image_urls_dict)
    hemisphere_image_urls_dict = {}

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]